form(name='controllerForm' ng-submit='joinRoom()' novalidate)
//-     md-input-container(class='md-block')
//-         label Your Name
//-         input(ng-model='playerName' required)

//-     md-button(type='submit' class='md-raised md-primary' ng-disabled='!controllerForm.$valid') Go!

div(flex layout='row' layout-align='space-around center')
    div
        div(layout='row' layout-align='center center')
            md-button(class='md-fab controller-btn' ng-click='setPlayerDirection([0, 1])')
                md-icon keyboard_arrow_up
        div
            md-button(class='md-fab md-hue-2 controller-btn' ng-click='setPlayerDirection([-1, 0])')
                md-icon keyboard_arrow_left
            md-button(class='md-fab md-hue-2 controller-btn' ng-click='setPlayerDirection([1, 0])')
                md-icon keyboard_arrow_right
        div(layout='row' layout-align='center center')
            md-button(class='md-fab controller-btn' ng-click='setPlayerDirection([0, -1])')
                md-icon keyboard_arrow_down

    //- div
    //-     md-button(class='md-fab md-primary md-hue-2')
    //-         strong A
    //-     md-button(class='md-fab md-primary')
    //-         strong B
