md-toolbar(class='md-whiteframe-glow-z1' ng-controller='HomeCtrl as home')
  div(class='md-toolbar-tools')
    md-button(class='md-icon-button' ng-click='toggleSidenav("left")')
      md-icon menu

    h2 {{ applicationName }}
    span(flex)
